<div id="<%= dom_id collection %>">
  <p class="my-5">
    <strong class="block text-white font-medium mb-1"><%= t('.name') %>:</strong>
    <span class="text-slate-300"><%= collection.name %></span>
  </p>
  <p class="my-5">
    <strong class="block text-white font-medium mb-1"><%= t('.artistic_style') %>:</strong>
    <span class="text-slate-300"><%= collection.artistic_style %></span>
  </p>
</div>
