<div id="<%= dom_id campaign %>">
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('.name') %>:</strong>
    <%= campaign.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('.base_story') %>:</strong>
    <%= campaign.base_story %>
  </p>
</div>
