<div id="<%= dom_id campaign %>">
  <p class="my-5">
    <strong class="block text-white font-medium mb-1"><%= t('.name') %>:</strong>
    <span class="text-slate-300"><%= campaign.name %></span>
  </p>
  <p class="my-5">
    <strong class="block text-white font-medium mb-1"><%= t('.base_story') %>:</strong>
    <span class="text-slate-300"><%= campaign.base_story %></span>
  </p>
</div>
